<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User list</title>
</head>
<body>
<a href="/users/create">Create new user</a>
<h1>Users</h1>
<!--<th:block th:if="${success}">-->
<!--    <p style="color: blue" th:text="${success}"></p>-->
<!--</th:block>-->

<form>
    Search by first name:
    <input name="s" type="text"/>
    <input type="submit" value="Search"/>
</form><br/>

<table border="1">
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Age</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="user : ${users}">
        <tr>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.age}"></td>
            <td><a th:href="@{/users/edit/__${user.id}__ }">Edit</a></td>
            <td><a th:href="@{users/delete/__${user.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>